alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias hosts='sudo $EDITOR /etc/hosts'

# View HTTP traffic
alias sniff="sudo ngrep -t '^(GET|POST) ' 'tcp and port 80'"

# Shortcuts
alias g="git"
